@media screen and (max-width: 992px) {
    .position-md-absolute {
        position: absolute !important;
    }
}

@media screen and (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .overflow-y-lg-auto {
        overflow-y: auto;
    }

    .position-lg-static {
        position: static !important;
    }

    .sidebar {
        height: calc(100vh - 80px);
    }

    .right-lg-0 {
        right: 0 !important;
    }

    .overflow-lg-hidden {
        overflow: hidden !important;
    }

    .vh-lg-100 {
        height: 100vh !important;
    }
}