{% extends 'blog/authentication/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Change Password' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'blog:profile' %}">
            {% translate 'Profile' %}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {% translate 'Password Change' %}
    </li>
{% endblock %}
{% block content %}
    <h1 class="display-1">
        {% translate 'Password Change' %}
    </h1>
    <p>
        {% blocktranslate %}
            Please enter your old password, for security’s sake, and then enter your new password twice so we can verify
            you typed it in correctly.
        {% endblocktranslate %}
    </p>
    {% include 'blog/includes/utilties/form.html' with form_tag=1 method='post' floating_labels=1 %}
    {% url 'blog:profile' as url %}
    {% include 'blog/includes/utilties/submit.html' with reset=1 cancel_url=url %}
{% endblock %}