{% extends 'blog/authentication/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Reset Password' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'blog:profile' %}">
            {% translate 'Profile' %}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {% translate 'Password Reset' %}
    </li>
{% endblock %}
{% block content %}
    <h1 class="display-1">
        {% translate 'Reset Password' %}
    </h1>
    <p>
        {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
    </p>
    {% include 'blog/includes/utilties/form.html' with form_tag=1 method='post' floating_labels=1 %}
    {% url 'blog:profile' as url %}
    {% include 'blog/includes/utilties/submit.html' with reset=1 cancel_url=url %}
{% endblock %}