{% extends 'blog/authentication/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Password Reset Done' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'blog:profile' %}">
            {% translate 'Prfile' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'blog:reset_password' %}">
            {% translate 'Password Reset' %}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {% translate 'Done' %}
    </li>
{% endblock %}
{% block content %}
    <div class="p-5 border rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-1">
                {% translate 'Password reset sent' %}
            </h1>
            <p class="fs-4">
                {% blocktranslate %}
                    We’ve emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve
                    entered the address you registered with, and check your spam folder.
                {% endblocktranslate %}
            </p>
            <a href="{% url 'blog:login' %}" class="btn btn-primary btn-lg" role="button">
                {% translate 'Login' %}
            </a>
        </div>
    </div>
{% endblock %}