{% extends 'blog/views/delete/template.html' %}
{% load i18n %}
{% block title %}{% translate 'Delete post' %}{% endblock %}
{% block breadcrumb_item %}
    <li class="breadcrumb-item">
        <a href="{% url 'blog:dashboard' %}">
            {% translate 'My posts' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'blog:post_detail' post.id %}">
            {{ post.title }}
        </a>
    </li>
{% endblock %}
{% block page_title %}{% translate 'Delete Post' %}{% endblock %}