{% extends 'blog/base/dashboard.html' %}
{% load i18n %}
{% block title %}{% translate 'Delete Account' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'blog:profile' %}">
            {% translate 'Profile' %}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {% translate 'Delete' %}
    </li>
{% endblock %}
{% block content %}
    <h1 class="display-1">
        {% translate 'Delete Account' %}
    </h1>
    <p>
        {% translate 'Are you sure you want to delete your account?' %}
    </p>
    {% include 'blog/includes/utilties/form.html' with form_tag=1 method='post' %}
    {% url 'blog:profile' as url %}
    {% include 'blog/includes/utilties/submit.html' with form_id='form' cancel_url=url %}
{% endblock %}