{% extends 'blog/base/base_site.html' %}
{% load i18n static %}
{% block body_attrs %}class="overflow-lg-hidden vh-lg-100"{% endblock %}
{% block main %}
    <section class="d-flex flex-column flex-lg-row h-100">
        <div class="col-12 col-lg-3 sidebar ps-1 pe-1 pe-lg-0 pb-1">
            {% include 'blog/includes/components/sidebar.html' %}
        </div>
        <div class="col-12 col-lg-9 sidebar overflow-y-lg-auto">
            <div class="container mt-4 mt-lg-0">
                <nav aria-label="breadcrumb" class="card card-body mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'blog:index' %}">
                                <i class="bi bi-house"></i>
                                {% translate 'Home' %}
                            </a>
                        </li>
                        {% block breadcrumb %}
                            <li class="breadcrumb-item active">
                                {% translate 'Dashboard' %}
                            </li>
                        {% endblock %}
                    </ol>
                </nav>
                {% if messages %}
                    {% include 'blog/includes/components/messages.html' %}
                {% endif %}
                {% block content %}
                    <h1 class="display-1">
                        {% translate 'My Posts' %}
                    </h1>
                    <div class="row g-4 my-5">
                        {% for post in post_list %}
                            <div class="col-12 col-md-6">
                                {% include 'blog/includes/components/post.html' %}
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <h2 class="display-2">
                                    {% translate 'Be the first who posts' %}
                                </h2>
                                <a href="{% url 'blog:create_post' %}" class="btn btn-lg btn-primary">
                                    {% translate 'New post' %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}