{% load i18n %}
<div class="card rounded-3 shadow">
    {% if post.image %}
        <img src="{% url 'blog:post_image' post.id %}" alt="{{ post.title }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h2 class="card-title text-primary mb-4">{{ post.title }}</h2>
        <p class="card-text">
            {% if post.content|length > 50 %}
                {{ post.content|slice:'0:50' }}...
                <a href="{% url 'blog:post_detail' post.id %}">
                    {% translate 'Continue reading' %}
                </a>
            {% else %}
                {{ post.content|linebreaks }}
            {% endif %}
        </p>
    </div>
    <div class="collapse p-4 border-top" id="post-form-{{ post.id }}">
        {% url 'blog:create_comment' as action %}
        <form method="post" action="{{ action }}">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}">
            <div class="input-group">
                <div class="form-floating">
                <textarea name="content" rows="4" class="form-control"
                          placeholder="Content" required id="id_content"></textarea>
                    <label for="id_content">
                        {% translate 'Content' %}
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-success">
                    <span class="d-none">
                        {% translate 'Post' %}
                    </span>
                    <i class="bi bi-send"></i>
                </button>
            </div>
            <small class="text-muted">
                {% translate 'The content of your comment' %}
            </small>
        </form>
    </div>
    <div class="card-footer bg-white d-flex flex-column gap-4 align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-4 w-100">
            <div class="d-flex align-items-center justify-content-center p-3 fw-bold bg-primary text-white rounded-3">
                {{ post.user.first_name|slice:'0:1' }}{{ post.user.last_name|slice:'0:1' }}
            </div>
            <div class="d-flex flex-column gap-2">
                <span>{{ post.user.get_full_name }}</span>
                <small class="text-muted">
                    {{ post.created_at|timesince }}
                </small>
            </div>
            {% if post.user == request.user %}
                <div class="dropdown ms-auto">
                    <a href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots"></i>
                    </a>
                    <div class="dropdown-menu rounded-3 shadow">
                        <div class="dropdown-header">
                            {% translate 'Post Menu' %}
                        </div>
                        <a href="{% url 'blog:edit_post' post.id %}" class="dropdown-item">
                        <span class="dropdown-item-text d-flex align-items-center gap-4">
                            <i class="bi bi-pencil"></i>
                            {% translate 'Edit' %}
                        </span>
                        </a>
                        <a href="{% url 'blog:delete_post' post.id %}" class="dropdown-item">
                        <span class="dropdown-item-text d-flex align-items-center gap-4">
                            <i class="bi bi-trash"></i>
                            {% translate 'Delete' %}
                        </span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="btn-group w-100">
            <button type="button" class="btn btn-outline-primary"
                    data-bs-toggle="collapse" data-bs-target="#post-form-{{ post.id }}"
            >
                {% translate 'Comment...' %}
            </button>
            <a class="btn btn-outline-primary" href="{% url 'blog:post_detail' post.id %}">
                <span class="d-none">
                    {% translate 'View comments' %}
                </span>
                <i class="bi bi-chat-text"></i>
            </a>
        </div>
    </div>
</div>
