{% load i18n %}
<aside class="navbar navbar-{{ color|default:'dark' }} bg-{{ bg_color|default:'primary' }} navbar-expand-{{ expand_at|default:'lg' }} align-items-lg-start h-100 rounded-3 shadow"
       aria-label="Side bar">
    <div class="container-fluid flex-lg-column align-items-lg-start h-100 w-100">
        <button class="navbar-toggler rounded-circle p-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar"
                aria-controls="sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand me-0" href="#">
            {% translate 'Dashboard' %}
        </a>
        <div class="navbar-nav d-lg-none">
            <a class="nav-link px-3 p-lg-2{% if request.path == profile %} active{% endif %}"
               href="{% url 'blog:profile' %}">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
        <div class="offcanvas offcanvas-end text-white bg-{{ bg_color|default:'primary' }}" tabindex="-1" id="sidebar"
             aria-labelledby="sidebarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarLabel">
                    {% translate 'Dashboard' %}
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between h-100">
                <ul class="navbar-nav flex-lg-column w-100">
                    <li class="nav-item">
                        {% url 'blog:dashboard' as dashboard %}
                        <a class="nav-link d-flex gap-4{% if request.path == dashboard %} active{% endif %}"
                           href="{{ dashboard }}">
                            <i class="bi bi-gear-fill"></i>
                            {% translate 'Dashboard' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'blog:create_post' as new %}
                        <a class="nav-link d-flex gap-4{% if request.path == new %} active{% endif %}"
                           href="{{ new }}">
                            <i class="bi bi-plus-lg"></i>
                            {% translate 'New post' %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        {% url 'blog:profile' as profile %}
                        <a class="nav-link d-flex gap-4{% if request.path == profile %} active{% endif %}"
                           href="{{ profile }}">
                            <i class="bi bi-person-circle"></i>
                            {% translate 'Account' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex gap-4" href="{% url 'blog:logout' %}">
                            <i class="bi bi-power"></i>
                            {% translate 'Log out' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
